html{
    font-size: 30px;
}

#div1{
    height: 4rem;
    width: 6rem;
    background-color: #393a7b;
    border: 2px solid red;
    border-radius: 6px;
}

#div2{
    height: 50%;
    width: 50%;
    background-color: cyan;
    border: 2px solid orange;
    border-radius: 4px;
}

#sample-para{
    border-left: 4px solid red;
}