#div1{
    height: 200px;
    width: 200px;
    background-color: red;
}

#div2{
    height: 200px;
    width: 200px;
    background-color: cyan;
    margin-left: -4px;
}

span{
    display: block;
}

div{
    display: inline-block;
}