body{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

/* Body Header */
#body-header{
    height: 65vh;
    width: 100%;
    background-image: url("macbook_mouse.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Horizontal List */
.horizontal-list{
    padding: 0px;
    margin: 0px;
}

.horizontal-list li{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
}

.horizontal-list li a{
    margin: 0px 8px;
    color: white;
    text-decoration: none;
}

.nav-menu li a{
    transition: color 0.5s;
}

.nav-menu li a:hover{
    color: lightgrey;
    border-bottom: 1px solid lightgrey;
}

/* Name Social Container */
#name-social-container{
    margin-top: 15vh;
}

#my-name{
    font-size: 4rem;
    color: white;
    letter-spacing: 0.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li a i{
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(290,196,196,0.3);
}

/* Section */
section{
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n+1) {
    background-color: white;
}

section:nth-child(2n) {
    background-color: lightgray;
}

/* About Section */
#about{
    height: 50vh;
    width: 100%;
}

#my-image{
    height: 12rem;
    width: 12rem;
    margin-top: -17vh;
}

#my-image>img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0px 0px 6px 4px lightgray;
}

#about-para{
    padding: 20px;
    width: 60%;
    text-align: justify;
    line-height: 22px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Skills Section */
.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.skills-display{
    height: 250px;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid black;
}

/* Common Margin Bottom */
.mb75px{
    margin-bottom: 75px;
}

/* Common Text Highlight */
.text-highlight{
    color: #2857a4;
    font-weight: 600;
}

/* Common Text Center */
.text-center{
    text-align: center;
}