body{
    margin: 0px;
    padding: 0px;
}

html{
    font-size: 15px;
}

/* Body Header */
#body-header{
    height: 65vh;
    width: 100%;
    background-image: url("macbook_mouse.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Horizontal List */
.horizontal-list{
    margin: 0px;
    padding: 0px;
}

.horizontal-list li{
    display: inline-block;
    list-style: none;
    margin: 15px 10px 0px 10px;
}

.horizontal-list li a{
    color: white;
    text-decoration: none;
}

.nav-menu li a{
    transition: color 0.5s, border-bottom-color 1s;
    border-bottom: 1px solid transparent;
}

.nav-menu li a:hover{
    color: lightgrey;
    border-bottom-color: lightgrey;
}

/* Name Social Container */
#name-social-container{
    margin-top: 15vh;
}

#my-name{
    color: white;
    font-size: 4.2rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-bottom: 0.5rem;
}

/* Social Icons */
.social-icons li a i{
    font-size: 1.3rem;
    margin-right: 4px;
    border-radius: 50%;
    padding: 0.5rem;
}

.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(290,196,196,0.3);
}

/* Section */
section{
    height: 75vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n+1) {
    background-color: white;
}

section:nth-child(2n) {
    background-color: lightgrey;
}

/* About Section */
#about{
    height: auto;
    width: 100%;
}

#my-image{
    height: 12rem;
    width: 12rem;
    /* margin: auto; */
    position: relative;
    /* margin-bottom: 5px; */
}

#my-image>img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    margin-top: -15vh;
    border: 2px solid white;
    box-shadow: 0px 0px 6px 4px lightgrey;
}

#about-para{
    margin-top: -12vh;
    width: 60%;
}

#about-para>p{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-weight: 500;
    line-height: 22px;
    color: gray;
}

.text-highlight{
    color: #2857a4;
    font-weight: 700;
}

/* Skill Section */
.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
    color: #2857a4;
    margin-right: 10px;
}

.skills-display{
    width: 30%;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-progress{
    height: 1.4rem;
    width: 7rem;
    border-radius: 0.8rem;
    background-color: white;
}

.skill-progress>div{
    border-radius: 20px 0px 0px 20px;
}

.skill-name>span{
    color: white;
    display: inline-block;
    margin-left: 10px;
    margin-top: 2px;
}

.eighty-five-percent{
    height: 100%;
    width: 85%;
}

.sixty-percent{
    height: 100%;
    width: 60%;
}

.seventy-percent{
    height: 100%;
    width: 70%;
}

.ninty-percent{
    height: 100%;
    width: 90%;
}

.fifty-five-percent{
    height: 100%;
    width: 55%;
}

.seventy-five-percent{
    height: 100%;
    width: 75%;
}

/* Portfolio Section */
#portfolio{
    height: auto;
    width: 100%;
}

.portfolio-display{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.portfolio-display div{
    height: 15rem;
    width: 15rem;
}

.portfolio-display div>img{
    height: 100%;
    width: 100%;
}

/* Common Text Center */
.text-center{
    text-align: center;
}

/* Common Margin Bottom */
.mb75px{
    margin-bottom: 75px;
}

/* Common Color */
.mb-blue{
    background-color: #2857a4;
}

.mb-green{
    background-color: green;
}

.mb-orange{
    background-color: orangered;
}

.mb-purple{
    background-color: purple;
}

.mb-brown{
    background-color: brown; 
}

.mb-red{
    background-color: red;
}